<mat-toolbar>
    <div class="menu-toolbar">
        <button mat-icon-button >
            <span class="material-symbols-outlined">menu</span>
        </button>
        <h1>  
            <a href="http://localhost:4200">{{title}}</a>
        </h1>    
    </div>
    <div class="login-toolbar">
        <a mat-button href="/login" class="login-link">Login</a>
        <button mat-flat-button [matMenuTriggerFor]="login">
            <span class="material-symbols-outlined">account_circle</span>
        </button>        
        <mat-menu #login="matMenu">
            <button mat-menu-item>register</button>
            <button mat-menu-item>login</button>
        </mat-menu>
    </div>
</mat-toolbar>
