:host{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mat-sys-on-primary);
    color: var(--mat-sys-on-primary-container);    
    padding: 1rem;
    text-align: center;
}

:host p {
    font-size: 16px;    
}
