:host{    
    margin: 0px;    
    background-color:var(--mat-sys-on-primary);
    padding: 10px;
    color: var(--background-color);
    padding-block: 0;
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

mat-toolbar{    
    justify-content: space-between;
    background-color: transparent;
}
:host  a {
    color: var(--white-color);
}
mat-toolbar div {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
mat-toolbar div.menu-toolbar {
    gap: 14px;
}

mat-toolbar div h1 a{
    font-size: 24px;
    font-weight: bold;
}

.material-symbols-outlined{
    font-size: 28px;
}

mat-menu {
    background-color: red;
    color: green;
}
mat-toolbar div.login-toolbar a{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
mat-toolbar div.login-toolbar button{
    background-color: var(--mat-sys-primary-fixed-dim);
    padding-inline: 0px;        
    margin: 0 !important;
    padding: 0px;       
    border-top-right-radius : 5px;
    border-bottom-right-radius : 5px;
}
mat-toolbar div.login-toolbar button:hover * {
    color: var(--mat-sys-primary-fixed-dim) !important;
}

mat-toolbar div.login-toolbar button span.material-symbols-outlined {    
    color: var(--mat-sys-on-primary);
    position: relative; 
    width: 100%;
    bottom: -3px;
}