:host {
  display: grid;    
  grid-column: 12;
  width: 100%;
  max-width: 4200px;
  grid-template-columns: repeat(12, 1fr);  
  grid-row: auto;
  grid-auto-rows: 70px;  
}

:host > * {
  padding-inline: var(--padding-inline);
}

:host app-header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

:host app-footer {
  grid-column: 1 / -1;  
}