<section class="header-home">
    <mat-card appearance="outlined">
      <mat-card-content>
        <h2>Bienvenido a DocxCloud</h2>
        <p>Tu Solución Privada para la Edición de Documentos en Línea {{title}}</p>
        <button mat-raised-button >Get Started</button>
      </mat-card-content>
    </mat-card>
</section>

<section class="list-benefits">
    <mat-card appearance="outlined">
        <mat-card-content>
            <h3>Search Documents</h3>            
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis beatae dicta libero ratione vero, sit alias facilis, possimus, nam officia ipsam iusto tempora! Excepturi, doloribus facilis. Sequi dolorum fugiat numquam.</p>            
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis beatae dicta libero ratione vero, sit alias facilis, possimus, nam officia ipsam iusto tempora! Excepturi, doloribus facilis. Sequi dolorum fugiat numquam.</p>
            <button mat-raised-button >Get Started</button>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
        <mat-card-content>
            <h3>Edit Documents</h3>            
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis beatae dicta libero ratione vero, sit alias facilis, possimus, nam officia ipsam iusto tempora! Excepturi, doloribus facilis. Sequi dolorum fugiat numquam.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis beatae dicta libero ratione vero, sit alias facilis, possimus, nam officia ipsam iusto tempora! Excepturi, doloribus facilis. Sequi dolorum fugiat numquam.</p>
            <button mat-raised-button >Get Started</button>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
        <mat-card-content>
            <h3>Cloud Private</h3>            
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis beatae dicta libero ratione vero, sit alias facilis, possimus, nam officia ipsam iusto tempora! Excepturi, doloribus facilis. Sequi dolorum fugiat numquam.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis beatae dicta libero ratione vero, sit alias facilis, possimus, nam officia ipsam iusto tempora! Excepturi, doloribus facilis. Sequi dolorum fugiat numquam.</p>
            <button mat-raised-button >Get Started</button>
        </mat-card-content>
    </mat-card>    
</section>  